.venv
.env
prompts/guidelines.py
prompts/beatsheet_analysis_example.md
prompts/__pycache__
__pycache__
Archive

# Files to ignore (manuscript)
working_dir/import/Murder and Macaw_Final_03032024.docx
working_dir/export/Beat_Sheet_03_Strangled and Snails_20250707_20250707_155011.md
working_dir/export/Chapter_Dev_Edit_Chapter 1 03_Strangled and Snails_20250707_20250707_160041.md
working_dir/export/Chapter_Dev_Edit_Chapter 2 03_Strangled and Snails_20250707_20250707_161206.md
working_dir/export/MS_Dev_Edit_03_Strangled and Snails_20250707_20250707_155928.md
working_dir/import/03_Strangled and Snails_20250707.docx
